/**
 * ----------------------------------------
 * GENERAL STYLES
 * ----------------------------------------
 */

:root {
    --sm-height-topbar: 104px;
    
    --st-light-hex: #FFFFFF; --st-light-rgb: 255,255,255;
    --st-dark-hex: #252627; --st-dark-rgb: 37,38,39;
    
    --st-raven-hex: #252627; --st-raven-rgb: 37,38,39;
    --st-white-hex: #ffffff; --st-white-rgb: 255,255,255;
    --st-black-hex: #000000; --st-black-rgb: 0,0,0;
    
    --st-blue-900-hex: #00072d; --st-blue-900-rgb: 0,7,45;

    --st-yellow-400-hex: #d9b800; --st-yellow-400-rgb: 217,184,0;
    --st-yellow-700-hex: #b37d00; --st-yellow-700-rgb: 179,125,0;
    --st-yellow-900-hex: #b37d00; --st-yellow-900-rgb: 179,125,0;
    
    
    
    --st-margin-site: 128px;
    --st-font-site: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    
    --st-icon-xxs: 0.5rem; 
    --st-icon-xs: 0.625rem;
    --st-icon-sm: 0.75rem; 
    --st-icon-md: 1rem;    
    --st-icon-lg: 1.5rem;  
    --st-icon-xl: 2rem;    
    --st-icon-xxl: 3rem;   
} 

@media (max-width: 1199.98px) {
    :root {
        --st-margin-site: 64px;
    }
}

@media (max-width: 991.98px) {
    :root {
        --st-margin-site: 56px;
    }
}

@media (max-width: 767.98px) {
    :root {
        --st-margin-site: 32px;
    }
}

@media (max-width: 567.98px) {
    :root {
        --st-margin-site: 16px;
    }
}

.st-icono {
    display: inline-block;
    width: var(--st-icon-md);
    height: var(--st-icon-md);
    line-height: 1;
    vertical-align: middle;
    font-size: var(--st-icon-md);
    text-align: center;
}
 
.st-icono.st-xxs {
    width: var(--st-icon-xxs);
    height: var(--st-icon-xxs);
    font-size: var(--st-icon-xxs);
}

.st-icono.st-xs {
    width: var(--st-icon-xs);
    height: var(--st-icon-xs);
    font-size: var(--st-icon-xs);
}

.st-icono.st-sm {
    width: var(--st-icon-sm);
    height: var(--st-icon-sm);
    font-size: var(--st-icon-sm);
}

.st-icono.st-md {
    width: var(--st-icon-md);
    height: var(--st-icon-md);
    font-size: var(--st-icon-md);
}

.st-icono.st-lg {
    width: var(--st-icon-lg);
    height: var(--st-icon-lg);
    font-size: var(--st-icon-lg);
}

.st-icono.st-xl {
    width: var(--st-icon-xl);
    height: var(--st-icon-xl);
    font-size: var(--st-icon-xl);
}

.st-icono.st-xxl {
    width: var(--st-icon-xxl);
    height: var(--st-icon-xxl);
    font-size: var(--st-icon-xxl);
}

.st-icono svg {
    width: 100%;
    height: 100%;
    display: block;
}

.st-icono-muted {
    opacity: .7;
}

.st-flex-site {
    display: flex;
    width: calc(100% - calc(var(--st-margin-site) * 2));
    margin: 0 auto;
}

.st-flex-item {
    width: 100%;
}
 

.sm-seminarios-header {
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.sm-seminarios-header .st-icono {
    width: 104px;
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--st-yellow-900-hex);
    color: var(--st-white-hex);
    position: relative;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.sm-seminarios-header .st-icono::before {
    content: '';
    width: calc(100% - .5rem);
    height: calc(100% - .5rem);
    position: absolute;
    right: -.5rem;
    bottom: -.5rem;
    background-color: rgba(var(--st-dark-rgb), .15);
    z-index: -1;
}

.sm-seminarios-header h1 {
    color: var(--st-yellow-900-hex);
    font-size: 5rem;
    font-weight: 300;
}

.sm-seminarios-header p {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--st-dark-hex);
}

.sm-header-column {
    width: 900px;
}

@media (max-width: 1199.98px) {
    .st-flex-site {
        flex-direction: column;
    }
}

@media (max-width: 991.98px){
    .sm-header-column{
        width: 100%;
        text-align: center;
    }
}
 
@media (max-width: 767.98px) {
    .sm-seminarios-header {
        flex-direction: column;
        gap: 1rem; 
        justify-content: center!important;
    }
    
    .sm-seminarios-header h1 {
        font-size: 3rem;
    }
}

@media (max-width: 567.98px) {
    
    .sm-seminarios-header h1 {
        font-size: 2.5rem;
    }
    
    .sm-seminarios-header p {
        font-size: 1rem;
    }
    
}


/**
 * ----------------------------------------
 * TOPBAR SITE 
 * ----------------------------------------
 */
.sm-topbar-site {
    width: 100%;
    height: var(--sm-height-topbar);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4020;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: background-color .3s ease;
}

.sm-topbar-inner {
    width: calc(100% - calc(var(--st-margin-site) * 2));
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-bottom: 1px rgba(var(--st-white-rgb), .2) solid;
}

.sm-brand-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sm-brand-container .st-icono {
    color: var(--st-yellow-400-hex);
    width: 64px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--st-white-rgb), .05);
    border-radius: 0px;
}

.sm-brand-name {
    width: 160px;
    position: relative;
}

.sm-brand-name h1 {
    color: var(--st-white-hex);
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 400;
}

.sm-topbar-links .nav-link {
    color: var(--st-white-hex);
    font-size: 1.1rem;
    font-weight: 400;
}

.sm-topbar-links .nav-link:hover{
    color: var(--st-white-hex);
}

.sm-topbar-site.st-active {
    background-color: var(--st-light-hex);
}

.sm-topbar-site.st-active .sm-topbar-links .nav-link{
    color: var(--st-dark-hex);
}

.sm-topbar-site.st-active .sm-brand-name h1{
    color: var(--ds-dark);
}

.sm-topbar-site.st-active .sm-topbar-inner {
    border: 0;
}

.sm-topbar-site.st-active .sm-brand-container .st-icono{
    background-color: rgba(var(--st-blue-900-rgb), .05);
}

.sm-topbar-site.st-active{
    box-shadow: 0 0 7rem rgba(var(--st-black-rgb), .1);
}

.sm-topbar-links.st-active .nav-link:hover {
    color: var(--st-dark-hex);
}

.sm-toggle-links {
    width: 48px;
    height: 48px;
    border: 0;
    outline: 0;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--st-yellow-900-hex);
    box-shadow: 0 0 0 1px rgba(var(--st-dark-rgb), .2);
}

@media (min-width: 992px){
    .sm-toggle-links{
        display: none!important;
    }
}

@media (max-width: 991.98px){

    .sm-topbar-links:not(.st-active){
        display: none;
    } 
    
    .sm-topbar-links.st-active{
        width: 100%;
        height: calc(100vh - var(--sm-height-topbar));
        position: fixed;
        top: var(--sm-height-topbar);
        left: 0;
        display: flex;
        flex-direction: column;
        background-color:  var(--st-light-hex);
        justify-content: center;
        align-items: center;
        z-index: 4020;
    } 

}

 
/**
 * ----------------------------------------
 * INICIO SECTION
 * ----------------------------------------
 */

.sm-inicio-presentation {
    --sm-height-slide: 720px;
    width: 100%;
    position: relative; 
}

.sm-glide-inicio .glide__slide {
    width: 100%;
    height: var(--sm-height-slide);
    position: relative;
    z-index: 0;
}

.sm-glide-item {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.sm-glide-item::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(var(--st-blue-900-rgb), .9);
}

.sm-glide-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.sm-presentation-slide{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    padding: 0 var(--st-margin-site);
}

.sm-presentation-slide h1,
.sm-presentation-slide p{
    color: var(--st-white-hex);
    font-family: var(--st-font-site);
}

.sm-presentation-slide p{
    font-size: 2rem;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sm-presentation-slide h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--st-yellow-400-hex);
}

.sm-presentation-container{
    width: 900px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 3rem;
    position: relative;
}

.sm-presentation-container::before,
.sm-presentation-container::after{
    content: '';
    width: 56px;
    height: 56px;
    background-color: rgba(var(--st-white-rgb), .15);
    position: absolute;
    bottom: 0;
    left: 0;
}

.sm-presentation-container::after{
    transform: translate(28px, -28px);
}

@media (max-width: 991.98px) {
 
    .sm-presentation-container {
        width: 100%;
        padding: 2rem;
    }

}

@media (max-width: 767.98px) {
 
    .sm-presentation-slide p{
        font-size: 1.5rem;
    }

    .sm-presentation-container{
        padding: 1.5rem;
    }

}

@media (max-width: 575.98px) {

    .sm-presentation-container{
        padding: 1rem;
    }

    .sm-presentation-slide h1 {
        font-size: 1.5rem;
    }
         
 
    .sm-presentation-slide p{
        font-size: 1.25rem;
        display: block;
    }

}

/**
 * ----------------------------------------
 * NOSOTROS
 * ----------------------------------------
 */
.sm-nosotros-section{
    width: 100%;
    min-height: 480px;
    position: relative;
}
 
.sm-mvv-items,
.sm-mvv-items li {
    width: 100%;
}

.sm-mvv-card {
    width: 100%;
    margin-bottom: 6rem;
    display: flex; 
    gap: 3rem;
}

.st-icono.sm-mvv{
    --st-size: 128px;
    width: var(--st-size);
    height: var(--st-size);
    background-color: rgba(var(--st-yellow-900-rgb), .0425);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--st-yellow-900-hex);
    position: relative;
    z-index: 0;
}

.st-icono.sm-mvv::before,
.st-icono.sm-mvv::after {
    content: '';
    width: 56px;
    height: 56px;
    background-color: rgba(var(--st-yellow-900-rgb), .0725);
    position: absolute;
    bottom: 0;
    left: 0;
}

.st-icono.sm-mvv::after {
    transform: translate(50%, -50%);
}

.sm-mvv-title{
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--st-yellow-900-hex);
    position: relative;
    z-index: 0;
    margin-bottom: 1.5rem;
}

.sm-mvv-body {
    width: 0;
    flex: 1;
    border-left: 1px rgba(var(--st-dark-rgb), .3) solid;
    padding: 0 1.5rem;
}

.sm-mvv-body p {
    margin-bottom: 0.25rem;
    font-size: 1.2rem;
    font-weight: 400;
}

@media (max-width: 991.98px){

    .sm-mvv-card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sm-mvv-body {
        width: 100%;
        flex: unset;
        border: 0;
        border-top: 1px rgba(var(--st-dark-rgb), .3) solid;
        padding-top: 1.5rem;
    }
}

@media (max-width: 767.98px){

    .sm-nosotros-section .sm-seminarios-header {
        flex-direction: column-reverse;
    }
   
    .sm-mvv-title{
        font-size: 2.5rem;
    }


}
@media (max-width: 575.98px){

    
    .sm-mvv-title{
        font-size: 1.5rem;
        text-align: center;
    }


}

/**
 * ----------------------------------------
 * SEMINARIOS SECTION
 * ----------------------------------------
 */
.sm-seminarios-inicio{
    width: 100%;  
    position: relative;
    z-index: 0;
}

.sm-top-seminarios {
    width: 100%;
    display: flex; 
    justify-content: center;
}


.sm-top-seminarios h1 {
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--st-yellow-900-hex);
    text-transform: uppercase;
    margin-bottom: 0;
}

.sm-seminarios-options{
    margin-left: auto ;
    background-color: rgba(var(--st-black-rgb), .0375);
}

.sm-seminarios-options .nav-link{
    padding: 0;
    margin: 0;
    color: var(--st-dark-hex);
}

.sm-seminarios-options .nav-link .st-icono {
    width: 56px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sm-seminarios-options .nav-link.st-active {
    background-color: var(--st-yellow-700-hex);
    color: var(--st-white-hex);
}

.sm-lista-seminarios {
    width: 100%;
    margin: 80px 0;
    gap: 4rem;
}

.sm-lista-seminarios li {
    width: 100%;
}

.sm-seminario-card {
    width: 100%;
    display: flex;
}

.sm-seminario-preview{
    width: 720px;
    height: 600px;
}

.sm-seminario-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sm-seminario-body{
    width: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.sm-conferencia-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--st-yellow-900-hex);
}

.sm-card-header > h1 {
    color: var(--st-yellow-900-hex);
    font-size: .9rem;
    color: rgba(var(--st-dark-rgb), .6);
    margin-bottom: 0;
}

.sm-card-link {
    color: var(--st-dark-hex);
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    gap: 1rem;
    justify-content: flex-end;
}

.sm-card-link i {
    color: var(--st-yellow-900-hex);
}

.sm-card-link:hover{
    color: var(--st-dark-hex);
}

.sm-lista-moderadores {
    margin-bottom: 2rem;
}

.sm-lista-moderadores li {
    width: 100%;
}

.sm-card-text {
    width: 100%;
}

.sm-card-text p {
    font-size: 1.1rem;
    font-weight: 300;
}

.sm-team-container{
    width: 100%;
    min-height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}

.sm-teams-title {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--st-dark-hex);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--st-font-site);
}

.sm-teams-title:hover{
    color: var(--st-dark-hex);
}

.sm-teams-title .st-icono {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.sm-teams-title .st-icono img {
    width: 100%;
    height: 100%;
    object-fit: contain;;
}

.sm-lista-moderadores h2 {
    font-size: 3rem;
    margin-bottom: 0;
    color: var(--st-dark-hex);
}

.sm-card-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.sm-footer-title {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: rgba(var(--st-dark-rgb), .8);
    font-weight: 300;
    font-size: 1.1rem;
}

.sm-footer-title .st-icono {
    width: 48px;
    height: 48px;
    background-color: var(--st-yellow-900-hex);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--st-white-hex);
}

.sm-archivos-seminario{
    width: 100%;
    margin-top: 1.5rem; 
}

.sm-archivos-seminario .nav-item{
    width: 100%;
}

.sm-archivos-seminario .nav-link {
    width: 100%;
    height: 56px;
    color: var(--st-dark-hex);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
    transition: all .3s ease;
    border-bottom: 1px rgba(var(--st-dark-rgb), .1) solid;
    transition: all .3s ease;
}


.sm-archivos-seminario .nav-link .st-icono {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--st-yellow-900-hex);
}


.sm-archivos-seminario .nav-link span {
    color: var(--st-yellow-900-hex);
    font-weight: 300;
    font-size: 1.1rem;
}

.sm-archivos-seminario .nav-link:hover{
    background-color: rgba(var(--st-yellow-900-rgb), .05);
} 

@media (max-width: 1919.98px){
    
    .sm-seminario-preview {
        width: 560px;
        height: 480px;
    }
}

@media (max-width: 1199.98px){
    .sm-seminario-card {
        flex-direction: column;
    }
    .sm-seminario-preview {
        width: 100%;
        height: 400px;
    }
    
    .sm-seminario-body {
        width: 100%;
        flex: unset;
    }
    
    .sm-conferencia-title{
        font-size: 2rem;
    }
    
    .sm-lista-moderadores h2{
        font-size: 2rem;
    }
     
}

@media (max-width: 767.98px){
    .sm-top-seminarios{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
}

@media (max-width: 575.98px){
    .sm-conferencia-title{
        font-size: 1.5rem;
    }
}


/**
 * ----------------------------------------
 * GALERIA
 * ----------------------------------------
 */

.sm-galeria-seminarios{
    margin-top: 144px;
    --st-size-picture: 400px;
}

.sm-galeria-header{
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;    
    margin-bottom: 3rem;
}

.sm-galeria-header::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(var(--st-blue-900-rgb), .9), rgba(var(--st-blue-900-rgb), .9));
    z-index: -1;
}


.sm-galeria-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.sm-galeria-header .st-flex-site {
    position: relative;
    z-index: 1;
    height: 320px;
    justify-content: center;
    flex-direction: column;
}

.sm-galeria-header .st-flex-site::before,
.sm-galeria-header .st-flex-site::after{
    content: '';
    width: 56px;
    height: 56px;
    background-color: rgba(var(--st-white-rgb), .15);
    position: absolute;
    bottom: 0;
    left: 0;
}

.sm-galeria-header .st-flex-site::after{
    transform: translate(28px, -28px);
}

.sm-galeria-header h1{
    color: var(--st-yellow-400-hex);
    font-size: 3rem;
}

.sm-galeria-header p {
    color: var(--st-white-hex);
    font-size:2.5rem;
    font-weight: 400;
}

.sm-lista-galeria {
    gap: 1.5rem;
    margin: 80px 0;
    justify-content: center;
}

.sm-lista-galeria .nav-item {
    cursor: pointer;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;

}

.sm-lista-galeria .nav-item img {
    width: var(--st-size-picture);
    height: var(--st-size-picture);
    object-fit: cover;
    aspect-ratio: 1 / 1; 
}

.sm-lista-galeria .nav-item span {
    display: block;
    width: 100%;
    color: var(--st-dark-hex);
    font-size: 16px;
    font-weight: 400;
    text-align: end;
}

@media (max-width: 1199.98px){
    .sm-galeria-seminarios {
        --st-size-picture: 300px;
    }     
}

@media (max-width: 991.98px){
    .sm-galeria-seminarios {
        --st-size-picture:248px;
    }     
}

@media (max-width: 767.98px){

    .sm-galeria-seminarios {
        --st-size-picture: 192px;
    }

    .sm-galeria-header h1 {
        color: var(--st-yellow-400-hex);
        font-size: 3rem;
    }

    .sm-galeria-header p {
        color: var(--st-white-hex);
        font-size: 2.5rem;
        font-weight: 400;
    }
        
}

@media (max-width: 567.98px){

    .sm-galeria-seminarios {
        --st-size-picture: 128px;
    }

    .sm-galeria-header h1 { 
        font-size: 2rem;
    }

    .sm-galeria-header p {
        font-size: 1rem;
    }
        
}

/**
 * ----------------------------------------
 * CONTACTO
 * ----------------------------------------
 */
.sm-contacto-section{
    width: 100%;
    min-height: 720px;
    margin: 128px 0;
}
 

.sm-preview-contacto{
    width: 900px;
    height: 640px;
    position: relative;
    z-index: 1;
}

.sm-preview-contacto::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(var(--st-blue-900-rgb), .6);
    z-index: 0;
}

.sm-preview-contacto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.sm-preview-contacto span{
    position: absolute;
    bottom: 0;
    left: 0;
}

.sm-preview-contacto span::before, 
.sm-preview-contacto span::after {
    position: absolute;
    content: '';
    width: 144px;
    height: 144px;
    background-color: rgba(var(--st-white-rgb), .15);
    position: absolute;
    bottom: 0;
    left: 0;
}

.sm-preview-contacto span::after{
    transform: translate(50%, -50%);
}

.sm-form-container {
    position: relative;
    z-index: 1;
    padding: 2rem;
}

.sm-header-contacto{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.sm-header-contacto .st-icono {
    width: 104px;
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--st-yellow-900-hex);
    color: var(--st-white-hex);
    position: relative;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.sm-header-contacto .st-icono::before{
    content: '';
    width: calc(100% - .5rem);
    height: calc(100% - .5rem);
    position: absolute;
    right: -.5rem;
    bottom: -.5rem;
    background-color: rgba(var(--st-dark-rgb), .15);
    z-index: -1;
}

.sm-header-contacto h1 {
    color: var(--st-yellow-900-hex);
}

.st-form-contacto {
    width: 480px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-top: 1px rgba(var(--st-dark-rgb), .2) solid;
    margin-top: 1rem;
}

.st-form-group{
    width: 100%;
    position: relative;
}

.st-form-label{
    font-family: var(--st-font-site);
    width: 100%;
    font-size: 1.1rem;
    font-weight: 300;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: .25rem;
} 

.st-input-group {
    position: relative;
}

.st-input-app {
    width: 100%;
    height: 40px;
    border: 1px rgba(var(--st-dark-rgb), .3) solid;
    padding: 4px 8px;
    font-size: 1.1rem;
    font-weight: 300;
    font-family: var(--st-font-site);
    outline: 0;
    transition: all .3s ease;
}

textarea.st-input-app{
    height: auto;
    resize: none;
}

.st-input-app:focus{
    border-color: var(--st-yellow-900-hex);
    box-shadow: 0 0 0 3px rgba(var(--st-yellow-900-rgb), .3);
}

.st-button-app {
    background-color: var(--st-yellow-900-hex);
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    color: var(--st-white-hex);
    font-family: var(--st-font-site);
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
    outline: 0;
    transition: all .3s ease;
    user-select: none;
    border: 0;
    width: 200px;
}

.st-button-app:hover,
.st-button-app:focus{
    box-shadow: 0 0 0 3px rgba(var(--st-yellow-900-rgb), .3);
}

@media (max-width: 1919.98px){
    .sm-preview-contacto {
            width: 100%;
            height: 480px;
        }
}

@media (max-width: 1198.98px){
    .sm-preview-contacto{
        width: 100%;
        height: 480px;
    }
    
    .st-form-contacto{
        width: 100%;
    }

          .sm-header-contacto {
              margin-top: 1.5rem;
          }
}

@media (max-width: 575.98px){
    .sm-form-container{
        padding: 0;
    }
    
    .sm-header-contacto {
        margin-top: 3rem;
    }
    
    .st-form-contacto{
        padding: 2rem 0;
    }
}



/**
 * ----------------------------------------
 * FOOTER
 * ----------------------------------------
 */
 .sm-footer-site {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column; 
    position: relative;
    z-index: 1;
    padding: 4rem;
    justify-content: center;
}

.sm-footer-site::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(var(--st-blue-900-rgb), .9),rgba(var(--st-blue-900-rgb), .9)),url('../res/01.jpg');
    background-size: cover;
    background-position: center;
}

.sm-brand-footer{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.sm-brand-footer .st-icono {
    width: 104px;
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--st-yellow-400-hex);
    position: relative;
    z-index: 0;
}

.sm-brand-footer .st-icono::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: rgba(var(--st-white-rgb), .15);
}

.sm-brand-footer .st-brand-name{
    width: 0;
    flex: 1;
}

.sm-brand-footer .st-brand-name h1 {
    color: var(--st-white-hex);
    margin-bottom: 0;
    font-size: 1.5rem;
}


.sm-footer-social {
    gap: .5rem;
    margin-top: 3rem;
}

.sm-footer-social .nav-link {
    color: var(--st-white-hex);
    border: 1px rgba(var(--st-yellow-400-rgb), 1) solid;
    padding: 0;
    margin: 0;
}

.sm-footer-social .nav-link .st-icono {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.st-footer-links {
    flex-direction: column;
    width: 100%;
    padding: 0 3rem;
}

.st-footer-links .nav-link {
    color: var(--st-white-hex);
    font-size: 1.1rem;
    font-weight: 600;
}


.st-footer-copyright{
    margin-top: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--st-white-hex);
    gap: 1rem;
    font-size: 1.1rem;
    font-weight: 300;
    height: 56px;
    padding: 0 1.5rem;
    border-top: 1px rgba(var(--st-white-rgb), .3) solid;
}

.st-footer-presentation {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.st-footer-presentation h1 {
    color: var(--st-yellow-400-hex);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
}

.st-footer-presentation p {
    margin-top: 1rem;
    color: var(--st-white-hex);
    font-size: 1.1rem;
    font-weight: 300;
}

@media (max-width: 1919.98px) {
    .sm-footer-site{
        padding: 88px 0; 
    }
}

@media (max-width: 1199.98px) {
    .st-footer-links {
        padding: 3rem 0;
    }
}

@media (max-width: 575.98px) {
    .sm-brand-footer{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .sm-brand-footer .st-brand-name {
        width: 100%;
    }
}


.sm-lightbox-app {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5020;
    inset: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sm-backdrop-lightbox {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(var(--st-black-rgb), .8);
}

.sm-close-lightbox {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border: 0;
    outline: 0;
    background-color: rgba(var(--st-light-rgb), .1);
    color: var(--st-light-hex);
    cursor: pointer;
}

.sm-lightbox-container {
    width: 100%;
    position: relative;
    height: 720px;
    z-index: 1;
    text-align: center;
    background-color: var(--st-black-hex);
}

.sm-lightbox-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 575.98px){
    .sm-lightbox-container {
        height: 600px;
    }
}